.head1 {
    font-size: 40px;
    color: #000000;
    font-weight: bold;
}

.head2 {
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    background-position: center;
    background-size: contain;
}

.menu {
    position: sticky;
    top: 0;
    background-color: #c748d3;
    padding: 10px 0px 10px 0px;
    color: white;
    margin: 0 auto;
    overflow: hidden;
}

.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.menu-log {
    right: auto;
    float: right;
}

footer {
    width: 100%;
    bottom: 0px;
    background-color: #000;
    color: #fff;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.body_sec {
    /* margin-left: 20px; */
}

.landingPage {
    background: url(change-background-color-on-wix-1024x678.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.name {
    margin: 0;
    text-align: center;
        /* text-align: middle; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.MyPicture {
    max-height: 50%;
    max-width: 40%;

    
}

#Content {
    width: 100vw;
    height: ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    line-height: 2;
    text-align: center;

}

#Portfolio {
    width: 100vw;
    height: ;
  
}

#Info {
    width: 100vw;
    height: ;
    
}

.projecttwo {
    border-radius: 8px;

}

.projectOne {
    border-radius: 8px;

}

.brand-logo {
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(12, 161, 112);
}

.resume {
    padding: 15px;
  
}
/* Created animation in javascript */
.textLink  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(12, 161, 112);
    /* -webkit-amimation-duration: 3s; */
    /* -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite; */
}

.centering {
  flex-direction: column;   
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100% !important; 
}

.align{
    height: ;

}

.contactCenter {
display: flex;
  align-items: center;
  justify-content: center;

}

